/*styles for my resume*/


BODY {
  font-family:'Open Sans',arial, sans-serif;
  font-size:1em;
  color:#444;
}

/*banner name at top*/
H1 {
  font-size:3em;
  color:#33485e;
  text-transform: uppercase;
  text-align: center;
}

/*profession at the top left*/
strong {
  font-size:1.5em;
  color:#33485e;
}

/*section titles above lists*/
H2 {
  font-size:1.5em;
  text-transform:uppercase;
  background-color:#33485e;
  color:white;
  font-weight:400;
}

/*job titles*/
H3 {
  font-weight:600;
  font-size:1.5em;
}

/*location*/
H4{
  font-weight:400;
  font-size:1.5em;
}

/*dates*/
H5{
  font-weight:400;
  font-size:1em;
  font-style:italic;
}

/*list size*/
li{
  font-size:1em;
}
