/*styles for my resume*/


BODY {
  font-family:'Open Sans',arial, sans-serif;
  font-size:1em;
  color:#444;
}

#container {
  width:100%;
  max-width:900px;
  margin:0 auto;
}


/*banner name at top*/
#name {
  font-size:3em;
  color:#33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom:1px solid #33485e;
  width:60%;
  min-width:300px;
  margin:0 auto;
}

/*profession at the top left*/
strong {
  font-size:1.5em;
  color:#33485e;
}

/*section titles above lists*/
.sectionheader {
  font-size:1.5em;
  text-transform:uppercase;
  background-color:#33485e;
  color:white;
  font-weight:400;
  margin-bottom:10px;
  margin-top:20px;
  margin-right:0;
  margin-left:0;
  width:70%;
  min-width:300px;
}

/*job titles*/
.jobtitle {
  font-weight:600;
  font-size:1.5em;
}

/*location*/
.organization{
  font-weight:400;
  font-size:1.25em;
}

/*dates*/
.date{
  font-weight:400;
  font-size:1em;
  font-style:italic;
  margin-top:2px;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
}

/*list size*/
li{
  font-size:1em;
}
